.modiCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modiCart>img {
    width: 6rem;
    height: 6rem;
}
.qty{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 11px;
}
.minus{
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    color: azure;
    background-color: lightcoral;
    border: 0.5px solid lightgrey;
}
.plus{
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    color: azure;
    background-color: lightgreen;
    border: 0.5px solid lightgrey;
}
.total{
    display: flex;
    width: 350px;
    align-items: center;
    margin-left: 25rem;
    margin-bottom: 0.5rem;
}
.total>h4 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
h2 {
    text-align: center;
    color: red;
    padding-bottom: 0.5rem;
}